# coverage & sonarqube-scanner
coverage/
.scannerwork/

# dependencies
node_modules/

# editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# npm run serve
dist

# playwright
test-results
storageState.json

frontend-licence-report.csv
