### Lefthook ###
.lefthook-local
lefthook-local.yml

### OS ###
**/.DS_Store

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/.idea/runConfigurations/

### VS Code ###
**/.vscode/*.code-workspace
.vscode/

### local ###
.config/
.local-storage/
.env
Brewfile.lock.json
ris-data-migration/
.vite/vitest/results.json

### structurizr c4 language server log ###
c4-language-server.log
doc/structurizr
test/e2e/shared/.auth/user.json
test/e2e/shared/.auth/user_bgh.json
test/e2e/shared/.auth/user_external.json
