// Place SASS variable overrides here
// Globals
$color-pack: false;
$font-size-root: 16px;

// Colors
$blue300: #dce8ef;
$blue500: #b3c9d6;
$blue700: #336f91;
$blue800: #004b76;
$white: #ffffff;
$black: #000000;
$yellow500: #f5e05d;
$panelAndMainAreaBackground: #f6f7f8; // better name?
$gray900: #4e596a;

$border-radius: 10px;
$border-style-inactive: 3px solid $blue300;
$border-style-active: 3px solid $blue500 !important;

// Font Settings
$font-fallback: "Arial Narrow", "Arial Nova", sans-serif;
$font-main: "BundesSansWeb", $font-fallback;
$font-bold: "BundesSansWeb Bold", $font-fallback;
