@import "@/styles/variables";

@font-face {
  font-family: BundesSansWeb;
  src: url("/fonts/BundesSans-Web-Regular.woff2"),
    url("/fonts/BundesSans-Web-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "BundesSansWeb Bold";
  src: url("/fonts/BundesSans-Web-Bold.woff2"),
    url("/fonts/BundesSans-Web-Bold.woff");
  font-weight: 700;
}

body {
  font-size: $font-size-root;
  font-family: $font-main;
}

a {
  text-decoration: none !important;
  color: $black;
}
