@import "@/styles/font_styles";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: BundesSansWeb;
  font-weight: 400;
  src: url("/fonts/BundesSans-Web-Regular.woff2"),
    url("/fonts/BundesSans-Web-Regular.woff");
}

@font-face {
  font-family: "BundesSansWeb Bold";
  font-weight: 700;
  src: url("/fonts/BundesSans-Web-Bold.woff2"),
    url("/fonts/BundesSans-Web-Bold.woff");
}

body {
  @apply text-18 font-normal font-regular leading-default text-black;
}

a {
  @apply text-black;

  text-decoration: none !important;
}
