border-number {
  display: flex;
  align-items: flex-start;
}

/* stylelint-disable-next-line selector-type-no-unknown */
border-number number {
  display: flex;
  min-width: 44px;
  margin-top: 6px;
  justify-content: center;
  background: #dce8ef;
  line-height: 1;
}

/* stylelint-disable-next-line selector-type-no-unknown */
#attachment-view border-number number {
  background: transparent;
  margin-right: 4px;
}

/* stylelint-disable-next-line selector-type-no-unknown */
#attachment-view border-number content {
  padding-left: unset;
}

/* stylelint-disable-next-line selector-type-no-unknown */
#attachment-view border-number content::before {
  background-color: unset;
}

/* stylelint-disable-next-line selector-type-no-unknown */
border-number content {
  position: relative;
  padding-left: 8px; /* Space between the border and the text */
}

div.with-border-numbers > div.tiptap > div,
div.with-border-numbers > div.tiptap > p,
div.with-border-numbers > div.tiptap > blockquote,
div.with-border-numbers > div.tiptap > span,
div.with-border-numbers > div.tiptap > span.invisible::before,
div.with-border-numbers > div.tiptap > img {
  padding-left: 52px;
}

div.with-border-numbers > div.tiptap > ul,
div.with-border-numbers > div.tiptap > ol {
  margin-left: 52px;
}

/* stylelint-disable-next-line selector-type-no-unknown */
border-number content::before {
  content: "";
  position: absolute;
  top: 12px; /* Start of the line, leaving space at the top */
  bottom: 4px; /* End of the line, leaving space at the bottom */
  left: -4px; /* Line should overlap with border-number */
  width: 4px;
  background-color: #dce8ef;
}
