@import "@/styles/font_styles";
@import "material-icons/iconfont/material-icons.css";
@import "@digitalservice4germany/angie/fonts.css";
@import "@digitalservice4germany/angie/angie.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-18 font-normal font-sans leading-default text-black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply text-black;

  text-decoration: none;
}
