@import "@digitalservice4germany/angie/fonts.css";

@tailwind base;

@layer base {
  ul,
  ol {
    padding: revert;
    margin: revert;
  }
}
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-font-family-sans text-18 font-normal leading-default text-black antialiased;
  }

  a {
    @apply text-black no-underline;
  }

  .ds-button-label {
    font-size: 16px;
  }

  .ds-input,
  .ds-input input,
  .ds-select,
  .ds-select select {
    &::placeholder {
      color: theme("colors.gray.800");
      font-family: BundesSansWeb, sans-serif;
      font-style: normal;
    }
  }
}
