@import "tailwindcss";
@import "@digitalservicebund/ris-ui/style.css";
@source "../../node_modules/@digitalservicebund/ris-ui/dist/**/*.{js,vue,ts}";

body {
  @apply ris-body1-regular;
}

@theme {
  --border-1: 1px;
  --shadow-blue: inset 0 0 0 2px rgba(0, 75, 118, 1);
  --shadow-focus: inset 0 0 0 4px rgba(0, 75, 118, 1);
  --shadow-hover: inset 0 0 0 4px rgba(0, 75, 118, 1);
}
