.ProseMirror-widget.invisible {
  visibility: visible;
}

.invisible:before {
  color: #4466ff;
}
.invisible--tab:before {
  content: "→";
  display: inline;
  position: absolute;
}
.invisible--nb-space {
  vertical-align: text-top;
}
.invisible--nb-space:before {
  content: "°";
  line-height: 0;
  top: 4px;
}
.invisible--blockquote:before {
  content: "“";
  font-weight: bold;
  font-size: x-large;
  margin-left: 30px;
  position: absolute;
}