.ProseMirror ol {
  padding-left: 2.5rem;
}

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 2.5rem;
}

.ProseMirror li > ol,
.ProseMirror li > ul {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
