text-check {
  text-decoration: underline;
  text-decoration-color: #cd5038;
  text-decoration-style: wavy;
  text-decoration-thickness: 12%;
  text-underline-offset: 2px;
  transition: background-color 0.25s ease-in-out;

  &:hover {
    background: #f5dcd7;
  }

  &[ignored="true"] {
    border-bottom: 2px solid #66add3;
    text-decoration: none;

    &:hover {
      background: #cce4f0 !important;
    }
  }
}
