<?xml version="1.0" encoding="UTF-8"?>
<akn:akomaNtoso xmlns:akn="http://Inhaltsdaten.LegalDocML.de/1.4/"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xsi:schemaLocation="http://Metadaten.LegalDocML.de/1.4/ ../schemas/legalDocML.de-metadaten.xsd http://Inhaltsdaten.LegalDocML.de/1.4/ ../schemas/legalDocML.de-regelungstextentwurfsfassung.xsd">
    <akn:bill name="regelungstext">
        <akn:meta>
            <akn:identification source="attributsemantik-noch-undefiniert">
                <akn:FRBRWork>
                    <akn:FRBRthis value="{{europeanLegalIdentifier}}/regelungstext-1"/>
                    <akn:FRBRuri value="{{europeanLegalIdentifier}}"/>
                    <akn:FRBRalias name="übergreifende-id" value="{{guid}}"/>
                    <akn:FRBRdate date="{{publicationDate}}" name="verkuendungsfassung"/>
                    <akn:FRBRauthor href="recht.bund.de/institution/bundesregierung"/>
                    <akn:FRBRcountry value="de"/>
                    <akn:FRBRnumber value="s{{printAnnouncementPage}}"/>
                    <akn:FRBRname value="{{printAnnouncementGazette}}"/>
                    <akn:FRBRsubtype value="regelungstext-1"/>
                </akn:FRBRWork>
                <akn:FRBRExpression>
                    <akn:FRBRthis value="{{europeanLegalIdentifier}}/{{publicationDate}}/1/deu/regelungstext-1"/>
                    <akn:FRBRuri value="{{europeanLegalIdentifier}}/{{publicationDate}}/1/deu"/>
                    <akn:FRBRauthor href="recht.bund.de/institution/bundesregierung"/>
                    <akn:FRBRdate date="{{publicationDate}}" name="verkuendung"/>
                    <akn:FRBRlanguage language="deu"/>
                    <akn:FRBRversionNumber value="1"/>
                </akn:FRBRExpression>
                <akn:FRBRManifestation>
                    <akn:FRBRthis value="{{europeanLegalIdentifier}}/{{publicationDate}}/1/deu/regelungstext-1.xml"/>
                    <akn:FRBRuri value="{{europeanLegalIdentifier}}/{{publicationDate}}/1/deu/regelungstext-1.xml"/>
                    <akn:FRBRdate date="{{publicationDate}}" name="generierung"/>
                    <akn:FRBRauthor href="recht.bund.de"/>
                    <akn:FRBRformat value="xml"/>
                </akn:FRBRManifestation>
            </akn:identification>
            <akn:proprietary source="attributsemantik-noch-undefiniert">
                <meta:legalDocML.de_metadaten xmlns:meta="http://Metadaten.LegalDocML.de/1.4/">
                    <meta:typ>{{documentTypeName}}</meta:typ>
                    <meta:form>stammform</meta:form>
                    <meta:fassung>verkuendungsfassung</meta:fassung>
                    <meta:art>{{documentNormCategory}}</meta:art>
                    <meta:initiant>{{providerDecidingBody}}</meta:initiant>
                    <meta:bearbeitendeInstitution>{{participationInstitution}}</meta:bearbeitendeInstitution>
                </meta:legalDocML.de_metadaten>
            </akn:proprietary>
        </akn:meta>
        <akn:preface>
            <akn:longTitle GUID="{{officialLongTitle.guid}}" eId="doktitel-1">
                <akn:p GUID="{{officialLongTitle.childGuid}}" eId="doktitel-1_text-1">
                    <akn:docTitle>{{officialLongTitle.value}}</akn:docTitle>
                    <akn:shortTitle GUID="{{officialShortTitle.guid}}" eId="doktitel-1_text-1_kurztitel-1">{{officialShortTitle.value}}</akn:shortTitle>
                </akn:p>
            </akn:longTitle>
        </akn:preface>
        <akn:body refersTo="hauptteil-stammform">
            {{#articles}}
                <akn:article refersTo="einzelvorschrift-stammform" GUID="{{guid}}" eId="para-{{marker}}">
                    <akn:num GUID="{{markerText.guid}}" eId="para-{{marker}}_bezeichnung-1">
                        <akn:marker name="{{marker}}"/>
                        {{markerText.value}}
                    </akn:num>
                    <akn:heading GUID="{{title.guid}}" eId="para-{{marker}}_überschrift-1">
                        {{title.value}}
                    </akn:heading>
                    {{#paragraphs}}
                        <akn:paragraph GUID="{{guid}}" eId="para-{{articleMarker}}_abs-{{marker}}">
                            <akn:num GUID="{{markerText.guid}}" eId="para-{{articleMarker}}_abs-{{marker}}_bezeichnung-1">
                                <akn:marker name="{{marker}}"/>
                                {{markerText.value}}
                            </akn:num>
                            <akn:content GUID="{{text.guid}}" eId="para-{{articleMarker}}_abs-{{marker}}_inhalt-1">
                                <akn:p GUID="{{text.childGuid}}" eId="para-{{articleMarker}}_abs-{{marker}}_inhalt-1_text-1">
                                    {{text.value}}
                                </akn:p>
                            </akn:content>
                        </akn:paragraph>
                    {{/paragraphs}}
                </akn:article>
            {{/articles}}
        </akn:body>
    </akn:bill>
</akn:akomaNtoso>
