openapi: 3.0.0
info:
  version: 0.0.1
  title: NeuRIS Normen Service API
  description: Interface for the normen service of the legal information system
  contact:
    name: 'DigitalService GmbH des Bundes'
    url: 'https://digitalservice.bund.de/'
    email: 'hallo@digitalservice.bund.de'
  license:
    name: MIT
    url: 'https://mit-license.org'
servers:
  - url: 'https://ris.prod.ds4g.net/api/v1'
    description: Public production server
paths:
  /norms:
    get:
      summary: Get a list of norms filtered by a query
      description: 'If no query is provided, all available norms are listed.'
      operationId: listNorms
      parameters:
        - in: query
          name: q
          required: false
          description: |
            Searches for a substring in the following properties of a norm:
              - officialLongTitle
              - officialShortTitle
              - unofficialLongTitle
              - unofficialShortTitle

            The search term is used as is without any postprocessing and is case sensitive.
          schema:
            type: string
            example: Koordinierung der Systeme
      responses:
        '200':
          description: Successful response with list of norms
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        guid:
                          $ref: '#/components/schemas/Guid'
                        eli:
                          $ref: '#/components/schemas/ELI'
                        officialLongTitle:
                          type: string
                example:
                  data:
                    - guid: 86ee3aa7-b8ec-4f32-a6c7-2c7e13fc7919
                      eli: eli/bgbl-1/1976/s3341/rechtsetzungsdokument-1
                      officialLongTitle: Gesetz über die Beschaffung sauberer Straßenfahrzeuge
                    - guid: 07eb4f72-79cb-4070-93b5-62bfb44d3753
                      eli: eli/bgbl-1/2004/s1673/rechtsetzungsdokument-1
                      officialLongTitle: Übereinkommen über das umweltgerechte Recycling von Schiffen
        '400':
          description: ''
    post:
      summary: Import a norm using a ZIP
      description: Importing all xml files of a norm in juris format in a compressed ZIP file
      operationId: importNorm
      parameters:
        - name: X-Filename
          in: header
          description: Filename used for storing the zip in the system
          required: true
          schema:
            type: string
          example: "norm.zip"
      requestBody:
        required: true
        content:
          application/zip:
            schema:
              type: string
              format: binary
      responses:
        '201':
          description: Norm was successfully imported
          content:
            application/json:
              schema:
                type: object
                properties:
                  guid:
                    $ref: '#/components/schemas/Guid'
        '400':
          description: Invalid norm
  '/norms/{guid}':
    get:
      summary: Load a single norm
      description: Retrieves a single norm given its guid
      operationId: loadNorm
      parameters:
        - name: guid
          description: the unique guid identifier of a norm
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Guid'
      responses:
        '200':
          description: Norm was found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Norm'
        '404':
          description: No norm found for this query
    put:
      summary: Edit the frame data of a norm
      description: Edits a norm given its unique guid identifier
      operationId: editNormFrame
      parameters:
        - name: guid
          description: the unique guid identifier of a norm
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Guid'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NormFrame'
      responses:
        '204':
          description: Norm was updated
        '400':
          description: ''
  '/norms/xml/eli/{printAnnouncementGazette}/{publicationYear}/s{printAnnouncementPage}':
    get:
      summary: Load a single as XML in LegalDocML.de format by eli
      description: Retrieves a single norm in LegalDocML.de xml format using its ELI
      operationId: loadNormAsXML
      parameters:
        - name: printAnnouncementGazette
          description: First part of the ELI, the gazette of the print announcement version
          in: path
          required: true
          schema:
            type: string
            example: bgbl-1
        - name: publicationYear
          description: Second part of the ELI, the publication year
          in: path
          required: true
          schema:
            type: string
            example: '1976'
        - name: printAnnouncementPage
          description: Third part of the ELI, the page of the print announcement version
          in: path
          required: true
          schema:
            type: string
            example: '3341'
      responses:
        '200':
          description: Norm was found
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/LegalDocML'
        '404':
          description: No norm found for this query
  '/norms/{guid}/files/{hash}':
    get:
      summary: Download the exported ZIP file of a norm
      description: Downloads a norm in a compressed ZIP file containing all juris xml files
      operationId: downloadNormZipFile
      parameters:
        - name: guid
          description: the unique guid identifier of a norm
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Guid'
        - name: hash
          description: the hast of the file
          in: path
          required: true
          schema:
            type: string
            example: 867d0a6301f1276bac069e00c7cc196bb15eea3f962ce5a86c256616ef0773fe
      responses:
        '200':
          description: Download ZIP file
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '404':
          description: Norm with the given guid or given hash file name not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NormOrFileNotFound'
  '/norms/{guid}/files':
    post:
      summary: Generate a new juris zip export for the norm
      description: Generate a new compressed ZIP file containing all juris xml files for the latest edits of a norm
      operationId: generateNormFile
      parameters:
        - name: guid
          description: the unique guid identifier of a norm
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Guid'
      responses:
        '201':
          description: Zip File Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileReference'
        '400':
          description: ''

components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
  schemas:
    NormOrFileNotFound:
      description: An error object containing an error type and an error message
      type: object
      properties:
        type:
          type: string
          example: FileNotFound
        message:
          type: string
          example: File with the given hash not found
    Guid:
      description: The globally unique identifier of the norm (format in UUID)
      type: string
      format: uuid
      example: 6a18380f-5c65-4f4d-902d-d49694f25de2
    ELI:
      description: A european legislation identifier
      type: string
      example: eli/bgbl-1/1976/s3341/rechtsetzungsdokument-1
    Date:
      description: The date format in XML files
      type: string
      pattern: '^[1-2]\d{3}-[0-1]\d-[0-3]\d$'
      example: '2020-10-21'
    UndefinedDate:
      description: A field that takes one of three values
      type: string
      enum:
        - UNDEFINED_UNKNOWN
        - UNDEFINED_FUTURE
        - UNDEFINED_NOT_PRESENT
    NormCategory:
      description: A field that takes one of three values
      type: string
      enum:
        - BASE_NORM
        - AMENDMENT_NORM
        - TRANSITIONAL_NORM
    ProofIndication:
      description: A field that takes one of three values
      type: string
      enum:
        - NOT_YET_CONSIDERED
        - CONSIDERED
    ProofType:
      description: A field that takes one of three values
      type: string
      enum:
        - TEXT_PROOF_FROM
        - TEXT_PROOF_VALIDITY_FROM
    OtherType:
      description: A field that takes one of three values
      type: string
      enum:
        - TEXT_IN_PROGRESS
        - TEXT_PROOFED_BUT_NOT_DONE
    MetadatumType:
      description: A field that indicates the type of the metadatum
      type: string
      enum:
        - KEYWORD
        - UNOFFICIAL_LONG_TITLE
        - UNOFFICIAL_SHORT_TITLE
        - UNOFFICIAL_ABBREVIATION
        - UNOFFICIAL_REFERENCE
        - DIVERGENT_DOCUMENT_NUMBER
        - REFERENCE_NUMBER
        - DEFINITION
        - RIS_ABBREVIATION_INTERNATIONAL_LAW
        - AGE_OF_MAJORITY_INDICATION
        - VALIDITY_RULE
        - LEAD_JURISDICTION
        - LEAD_UNIT
        - PARTICIPATION_TYPE
        - PARTICIPATION_INSTITUTION
        - SUBJECT_FNA
        - SUBJECT_PREVIOUS_FNA
        - SUBJECT_GESTA
        - SUBJECT_BGB_3
        - TIME
        - DATE
        - YEAR
        - RANGE_START
        - RANGE_END
        - ANNOUNCEMENT_GAZETTE
        - NUMBER
        - PAGE_NUMBER
        - ADDITIONAL_INFO
        - EXPLANATION
        - ANNOUNCEMENT_MEDIUM
        - AREA_OF_PUBLICATION
        - NUMBER_OF_THE_PUBLICATION_IN_THE_RESPECTIVE_AREA
        - SERIES
        - EU_GOVERNMENT_GAZETTE
        - ENTITY
        - OTHER_OFFICIAL_REFERENCE
        - DECIDING_BODY
        - RESOLUTION_MAJORITY
        - TYPE_NAME
        - NORM_CATEGORY
        - TEMPLATE_NAME
        - UNDEFINED_DATE
        - TEXT
        - LINK
        - RELATED_DATA
        - EXTERNAL_DATA_NOTE
        - APPENDIX
        - FOOTNOTE_REFERENCE
        - FOOTNOTE_CHANGE
        - FOOTNOTE_COMMENT
        - FOOTNOTE_DECISION
        - FOOTNOTE_STATE_LAW
        - FOOTNOTE_EU_LAW
        - FOOTNOTE_OTHER
        - WORK_NOTE
        - DESCRIPTION
        - REFERENCE
        - ENTRY_INTO_FORCE_DATE_NOTE
        - PROOF_INDICATION
        - PROOF_TYPE
        - OTHER_TYPE
        - NOTE
        - ARTICLE
        - OFFICIAL_LONG_TITLE
        - RIS_ABBREVIATION
        - DOCUMENT_NUMBER
        - DOCUMENT_CATEGORY
        - OFFICIAL_SHORT_TITLE
        - OFFICIAL_ABBREVIATION
        - COMPLETE_CITATION
        - CELEX_NUMBER

    MetadataSectionName:
      description: A field that indicates the name of the section
      type: string
      enum:
        - NORM
        - SUBJECT_AREA
        - LEAD
        - PARTICIPATION
        - CITATION_DATE
        - AGE_INDICATION
        - OFFICIAL_REFERENCE
        - PRINT_ANNOUNCEMENT
        - DIGITAL_ANNOUNCEMENT
        - EU_ANNOUNCEMENT
        - OTHER_OFFICIAL_ANNOUNCEMENT
        - NORM_PROVIDER
        - DOCUMENT_TYPE
        - DIVERGENT_ENTRY_INTO_FORCE
        - DIVERGENT_ENTRY_INTO_FORCE_DEFINED
        - DIVERGENT_ENTRY_INTO_FORCE_UNDEFINED
        - DIVERGENT_EXPIRATION
        - DIVERGENT_EXPIRATION_DEFINED
        - DIVERGENT_EXPIRATION_UNDEFINED
        - CATEGORIZED_REFERENCE
        - ENTRY_INTO_FORCE
        - PRINCIPLE_ENTRY_INTO_FORCE
        - EXPIRATION
        - PRINCIPLE_EXPIRATION
        - DIGITAL_EVIDENCE
        - FOOTNOTES
        - DOCUMENT_STATUS_SECTION
        - DOCUMENT_STATUS
        - DOCUMENT_TEXT_PROOF
        - DOCUMENT_OTHER
        - STATUS_INDICATION
        - STATUS
        - REISSUE
        - REPEAL
        - OTHER_STATUS
        - PUBLICATION_DATE
        - ANNOUNCEMENT_DATE

    MetadataSection:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/MetadataSectionName'
        order:
          type: integer
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/Metadatum'
        sections:
          type: array
          items:
            $ref: '#/components/schemas/MetadataSection'
    Metadatum:
      type: object
      properties:
        value:
          type: string
        type:
          $ref: '#/components/schemas/MetadatumType'
        order:
          type: integer
        section:
          $ref: '#/components/schemas/MetadataSectionName'
    Paragraph:
      type: object
      required:
        - guid
        - text
      properties:
        guid:
          $ref: '#/components/schemas/Guid'
        marker:
          type: string
          example: (1)
        text:
          type: string
          example: 'Dieses Gesetz regelt Mindestziele und deren Sicherstellung bei der Beschaffung bestimmter Straßenfahrzeuge und Dienstleistungen, für die diese Straßenfahrzeuge eingesetzt werden, durch öffentliche Auftraggeber und Sektorenauftraggeber.'
    Article:
      type: object
      required:
        - guid
        - marker
        - paragraphs
      properties:
        guid:
          $ref: '#/components/schemas/Guid'
        marker:
          type: string
          example: § 1
        title:
          type: string
          example: Allgemeiner Anwendungsbereich
        paragraphs:
          type: array
          items:
            $ref: '#/components/schemas/Paragraph'
    FileReference:
      type: object
      required:
        - name
        - hash
        - createdAt
      properties:
        name:
          type: string
          example: Finanzdisziplin.2-0.zip
          description: Human readble representative name of the file
        hash:
          type: string
          example: 867d0a6301f1276bac069e00c7cc196bb15eea3f962ce5a86c256616ef0773fe
          description: SHA-256 hash of the file content
        createdAt:
          $ref: '#/components/schemas/Date'
    Norm:
      allOf:
        - $ref: '#/components/schemas/NormFrame'
        - type: object
          required:
            - guid
            - officialLongTitle
            - files
            - metadata
          properties:
            guid:
              $ref: '#/components/schemas/Guid'
            articles:
              type: array
              items:
                $ref: '#/components/schemas/Article'
            files:
              type: array
              items:
                $ref: '#/components/schemas/FileReference'
    NormFrame:
      type: object
      properties:
        eli:
          $ref: '#/components/schemas/ELI'
        metadataSections:
          type: array
          items:
            $ref: '#/components/schemas/MetadataSection'
    LegalDocML:
      type: object
      xml:
        name: akomaNtoso
        namespace: 'http://Inhaltsdaten.LegalDocML.de/1.4'
        prefix: akn
security:
  - BasicAuth: []
