otc:
  obs:
    bucket-name: local
local:
  file-storage: .local-storage
error:
  nodes:
    active: true
spring:
  data:
    redis:
      host: 127.0.0.1
      username: redis
      password: password
  security:
    oauth2:
      client:
        registration:
          oidcclient:
            client-id: ${OAUTH2_CLIENT_ID:}
            client-secret: ${OAUTH2_CLIENT_SECRET:}
        provider:
          keycloak:
            issuer-uri: ${OAUTH2_CLIENT_ISSUER:}
#  jpa:
#    show-sql: true
#    properties:
#      hibernate:
#        format_sql: true
mail:
  exporter:
    response:
      mailbox:
        username: user@neuris.dev
        password: pa55word
#logging:
#  level:
#    io.r2dbc.postgresql.QUERY: DEBUG # for queries
#    io.r2dbc.postgresql.PARAM: DEBUG # for parameters

#logging:
#  level:
#    org:
#      hibernate:
#        SQL: DEBUG
#        type:
#          descriptor:
#            sql:
#              BasicBinder: TRACE
