<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="!(staging | production | uat)">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <logger name="de.bund.digitalservice.ris.caselaw.domain.DocumentationUnitService" level="DEBUG"/>
        <logger name="de.bund.digitalservice.ris.caselaw.adapter.DatabasePatchMapperService" level="DEBUG"/>
    </springProfile>
    <springProfile name="staging,production,uat">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <appender name="SENTRY" class="io.sentry.logback.SentryAppender" />

        <logger name="de.bund.digitalservice.ris.caselaw.domain.DocumentationUnitService" level="DEBUG"/>
        <logger name="de.bund.digitalservice.ris.caselaw.adapter.DatabasePatchMapperService" level="DEBUG"/>

        <root level="INFO">
            <!-- <appender-ref ref="LOKI" /> -->
            <appender-ref ref="SENTRY"/>
        </root>
    </springProfile>
</configuration>
