<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/base.xml" />
    </springProfile>
    <springProfile name="staging,production">
        <springProperty name="lokiUrl" source="neuris.loki.url"/>
        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>${lokiUrl}</url>
            </http>
            <format>
                <label>
                    <pattern>app=ris-backend,level=%level</pattern>
                </label>
                <message>
                    <pattern>l=%level c=%logger{20} t=%thread | %msg %ex</pattern>
                </message>
                <sortByTime>true</sortByTime>
            </format>
        </appender>

        <root level="INFO">
            <appender-ref ref="LOKI" />
        </root>
    </springProfile>
</configuration>
