name: Bump images

on:
  schedule:
    - cron: "0 6 * * *"
  # Allow to run this workflow manually
  workflow_dispatch:

permissions:
  contents: write

jobs:
  bump-chainguard-images:
    runs-on: ubuntu-latest
    steps:
      - name: bump nginx image
        uses: digitalservicebund/bump-chainguard-digest@6941ed3c04e832cb6b82cbc070d03d9c54e278aa # v1.1.0
        with:
          image_name: nginx
          file_path: frontend/Dockerfile.prod
          github_token: ${{ github.token }}
          branch: bump-nginx-image
      - name: bump redis image
        uses: digitalservicebund/bump-chainguard-digest@6941ed3c04e832cb6b82cbc070d03d9c54e278aa # v1.1.0
        with:
          image_name: redis
          file_path: compose.yaml
          github_token: ${{ github.token }}
          branch: bump-redis-image
      - name: bump jre image
        uses: digitalservicebund/bump-chainguard-digest@6941ed3c04e832cb6b82cbc070d03d9c54e278aa # v1.1.0
        with:
          image_name: jre
          file_path: backend/Dockerfile.prod
          github_token: ${{ github.token }}
          branch: bump-jre-image

  trigger-pipeline:
    needs: bump-chainguard-images
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - run: gh workflow run pipeline.yml
        env:
          GH_TOKEN: ${{ github.token }}
