name: Bump images

on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

jobs:
  bump-chainguard-images:
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: app_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.GITOPS_NEURIS_APP_ID }}
          private-key: ${{ secrets.GITOPS_NEURIS_APP_PRIVATE_KEY }}

      - name: bump nginx image
        uses: digitalservicebund/bump-chainguard-digest@5c65d776ae05712c732d853ea4fcc07e74d3c398 # v1.1.1
        with:
          image_name: nginx
          file_path: frontend/Dockerfile.prod
          github_token: ${{ steps.app_token.outputs.token }}
          branch: bump-chainguard-images

      - name: bump redis image
        uses: digitalservicebund/bump-chainguard-digest@5c65d776ae05712c732d853ea4fcc07e74d3c398 # v1.1.1
        with:
          image_name: redis
          file_path: compose.yaml
          github_token: ${{ steps.app_token.outputs.token }}
          branch: bump-chainguard-images

      - name: bump jre image
        uses: digitalservicebund/bump-chainguard-digest@5c65d776ae05712c732d853ea4fcc07e74d3c398 # v1.1.1
        with:
          image_name: jre
          file_path: backend/Dockerfile.prod
          github_token: ${{ steps.app_token.outputs.token }}
          branch: bump-chainguard-images

      - name: Enable Auto-merge
        run: |
          gh pr merge --auto --squash --delete-branch "bump-chainguard-images"
        env:
          GH_TOKEN: ${{ steps.app_token.outputs.token }}
