on:
  workflow_call:
    inputs:
      browser:
        required: false
        type: string
        default: chromium
      mode:
        required: false
        type: string
        default: e2e
    secrets:
      STAGING_PASSWORD:
        required: true
      STAGING_URL:
        required: true
      STAGING_USER:
        required: true
      SLACK_WEBHOOK_URL:
        required: false

jobs:
  playwright-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: ./frontend/.node-version
          cache: npm
          cache-dependency-path: ./frontend/package-lock.json
      - name: Install dependencies
        run: |
          npm ci
          npx --yes playwright install --with-deps ${{ inputs.browser }}
        working-directory: ./frontend
      - name: Run ${{ inputs.mode }} tests in ${{ inputs.browser }}
        env:
          E2E_BASE_URL: ${{ secrets.STAGING_URL }}
          # basicAuth
          STAGING_USER: ${{ secrets.STAGING_USER }}
          STAGING_PASSWORD: ${{ secrets.STAGING_PASSWORD }}
          # OIDC
          E2E_TEST_USER: ${{ secrets.E2E_TEST_USER }}
          E2E_TEST_PASSWORD: ${{ secrets.E2E_TEST_PASSWORD }}
        run: npm run test:${{ inputs.mode }} -- --project ${{ inputs.browser }}
        working-directory: ./frontend
      - name: Upload screenshots of failed tests
        uses: actions/upload-artifact@v3
        if: ${{ failure() }}
        with:
          name: failed-${{ inputs.mode }}-tests-${{ inputs.browser }}
          path: ./frontend/test-results/**/*.png
      - name: Send status to Slack
        # Third-party action, pin to commit SHA!
        # See https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions
        uses: lazy-actions/slatify@c4847b8c84e3e8076fd3c42cc00517a10426ed65
        if: ${{ failure() && env.SLACK_WEBHOOK_URL }}
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          type: ${{ job.status }}
          job_name: "Playwright ${{ inputs.mode }} test ${{ inputs.browser }} :point_right:"
          mention: "here"
          mention_if: "failure"
          commit: true
          url: ${{ secrets.SLACK_WEBHOOK_URL }}
          token: ${{ secrets.GITHUB_TOKEN }}
