# Storybook
storybook-static/

# Coverage directory
coverage

# Dependency directories
node_modules/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# npm run serve
dist

# playwright
test-results